<section class="cart py-16">
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-8 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class="ml-4 flex-1">
                    <h1>Marinara</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">$300</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class="ml-4 flex-1">
                    <h1>Marinara</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">$300</span>
            </div>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/pizza.png" alt="">
                <div class="ml-4 flex-1">
                    <h1>Marinara</h1>
                    <span>Medium</span>
                </div>
                <span class="flex-1">1 Pcs</span>
                <span class="font-bold text-lg">$300</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-6">
            <div>
                <span class="text-lg font-bold">Total Amount : </span>
                <span class="amount text-2xl font-bold ml-2">$300</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input class="border border-gray-400 p-2 w-1/2 mb-4" type="text" placeholder="Phone Number">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Address">
                    <!-- <div class="mt-6">
                        <button class="btn-primary px-6 py-2 rounded-full text-white" type="submit">Order Now &rarr; </button>
                    </div> -->
                </form>
            </div>
            <a class="inline-block cursor-pointer px-6 py-2 btn-primary rounded-full text-white mt-6" href="">Login to continue</a>
        </div>
    </div>


    <!-- <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl mb-4 "> Empty cart: Please add items to your cart </h1>
            <img class="w-2/5 mx-auto mb-12" src="/img/empty-cart.png" alt="empty-cart">
            <a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white">Go Back </a>
        </div>
    </div> -->

    
</section>